{
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "plugin:vue/recommanded"
    ],
    "plugins": [],
    "rules": {
        "vue/mustach-interpolation-spacing": "off",
        "vue/max-attributes-per-line": "off",
        "vue/singleline-html-element-content-newline": "off"
    }
}